.location {
    background-color: white;
    position: relative;
}

.location-image {
    width: 250px;
    border-radius: 15px;
}

.location-block1 {
    display: flex;
    align-items: center;
    position: absolute;
    left: 300px;
    top: 0px;
}

.location-mapsIcon {
    width: 38px;
    margin-right: -10px;
}

.location-location {
    font-size: 40px;
    margin-right: 10px;
    font-weight: 200;
}

.location-mapsUrl {
    position: relative;
    top: 7px;
    font-size: 20px;
    color: gray;
}

.location-block2 {
    max-width: 480px;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 310px;
    display: inline-block;
}

.location-title {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 600;
}

.location-date {
    margin-top: -30px;
    font-size: 20px;
    font-weight: 500;
}

.location-desc {
    margin-top: -15px;
}