.navbar {
    background-color: #F55A5A;
    height: 55px;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > img {
    width: 30px;
    padding-right: 0px;
}

.navbar > h3 {
    color: white;
    font-size: 25px;
    font-weight: 300;
}